{
	"plugins": ["transform-object-rest-spread"],
	"presets": [
		["env", { "modules": false, "loose": true }],
		"react"
	],
	"env": {
		"test": {
			"presets": [
				["env", { "loose": true }],
				"react"
			]
		}
	}
}
